{% extends "../base.html" %}

{% block content %}
<div class="tlr-tease">
  <h1>TailR</h1>
  <h3>Versioning the Web of Data</h3>
  <form class="form-inline" action="{{ reverse_url("web:search") }}" method="get">
    <input class="form-control input-lg search-input" type="text" name="q" tabindex="1" placeholder="Search users and repositories">
  </form>
</div>
<div class="row news">
  <div class="col-sm-8 col-sm-offset-2">
  <div class="alert alert-info">
    <span class="date">December 13, 2016</span>
    <h4>New Feature: Private Repositories</h4>
    <p>The development of <em>TailR</em> is ongoing. We are pleased to annnounce a new major feature: <em>Private Repositories</em>. Private repositories are not visible to the public and can only be accessed by its owner (API authentication is done by the generated tokens as for pushing new data). You can change the privacy settings of your repositories on the respective repository page.</p>
  </div>
  </div>
</div>

{% end %}
